html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-content {
  padding: 20px 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.world-map {
  max-height: 80%;
}

.world-map-country {
  fill: #75a9d9;
  cursor: pointer;
  fill-opacity: 1;
}

.world-map-country.selected {
  fill: #7adcde;
  cursor: auto;
}

.selected-country {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  .home-content {
    padding: 50px;
  }

  .world-map-country:hover {
    fill-opacity: 0.5;
  }
  
  .world-map-country.selected:hover {
    fill-opacity: 1;
  }
}
